.App-Container
{
  height: 100vh;
  width: 100vw;
}

.Virtuality360-container
{
  height: 100%;
  width:  100%;
  overflow: hidden;
}

.marker-cluster-small {
  background-color: rgba(201, 28, 27, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(201, 28, 27, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(201, 28, 27, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(201, 28, 27, 0.6);
  }

.marker-cluster-large {
  background-color: rgba(201, 28, 27, 0.6);
  }
.marker-cluster-large div {
  background-color: rgba(201, 28, 27, 0.6);
  }

.pnlm-wrapper
{
  overflow: hidden;
  display: grid;
}

.pnlm
{
  overflow: hidden;
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
}

.buttonTest
{
  overflow: hidden;
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;

}

.buttonPadder
{
  margin-top: 93px;
  margin-left: 5px;

  display:inline;
  overflow: hidden;

  align-self: start;
  justify-self: start;

  z-index: 1;
  /* Fix Safari fullscreen bug */
  -webkit-transform: translateZ(9999px);
  transform: translateZ(9999px);
}

.mapButton
{
  display:inline;
  margin-top: 4px;
  background-color: #fff;
  border: 1px solid #999;
  border-color: rgba(0,0,0,0.4);
  border-radius: 3px;
  cursor: pointer;
  top: 320px;
  left: 5px;
  z-index: 2;
  height: 26px;
  pointer-events: auto;
}