.App-Container
{
    height: 100vh;
    width: 100vw;
}

.Virtuality360-container
{
  height: 100%;
  width:  100%;
}

.pano-container
{
  height: 100%;
  width:  100%;
}

.markercluster-map
{
  height: 100%;
  width:  100%;
}

.plnm-wrapper
{
  height: 100%;
  width:  100%;
}

.plnm-control
{
  position: absolute;
  top:  95px;
  left: 5px;
  z-index: 1;
}