.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #888;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 160px;
    z-index: 401;
    margin: 0px;
    overflow: scroll;
    max-height: 33vh;
}

.ddEntry {
    width: 100%;
    padding: 5px;
    border: 0.5px solid #aeaeae;
    background-color: gainsboro;
}

.dropdown-content .ddEntry:hover {background-color: #aeaeae;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {background-color: #555;}