.menubar {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1%;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.menuitem {
    background-color: rgb(175,175,175);
    border: none;
    height: 100%;
    font-size: 16px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    z-index: 1001;
}

.dropdown-button {
    padding: 2.5vh;
    font-size: inherit;
    border: none;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    min-width: 100%;
    background-color: rgb(200, 200, 200);
}

.dropdown-entry {
    overflow: hidden;
    word-wrap: normal;
    display: block;
    position: relative;
    word-break:break-all;
}

.active {
    background-color: antiquewhite;
}

.menuitem:hover {
    background-color: rgb(150, 150, 150);
}

.dropdown-container:hover .dropdown-content{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
}

.dropdown-entry:hover {
    background-color: deepskyblue;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}