.MenuBar {
    display:inline;
    float:right;
    list-style-type: none;
    /*padding-left:100px;*/
    z-index: 3;
    pointer-events: auto;
}

.MenuBar-container
{
    z-index: 401;}

.SearchBar {
    float: right;
    padding: 15px;
    border-radius: 10px;
}

.Datapoints {
    float:right;
    padding:10px;
}